src/backup/PainterDNA.txt
src/resources/terrain.bam
*.bak
src/dependencies/MongoDB/Server/3.0/mongodb/diagnostic.data/*
*.interim
*._0
src/dependencies/MongoDB/Server/3.0/mongodb/journal/lsn
.vscode/settings.json
